<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title}, ~{::link#pageStyle})}">
    <title>ScoutPro | Admin Dashboard</title>
    <link id="pageStyle" rel="stylesheet" th:href="@{/css/adminDashboardStyle.css}" href="../static/css/adminDashboardStyle.css" type="text/css">
</head>
<body>

    <div th:replace="~{fragments/mainContainer :: main(~{::div#dashboard})}">
        <div id="dashboard" class="row">

        </div>
    </div>

</body>
</html>