<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title}, ~{::link#pageStyle})}">
    <title>ScoutPro | Add/Update User</title>
    <link id="pageStyle" rel="stylesheet" th:href="@{/css/jobDashboardStyle.css}" href="../static/css/jobDashboardStyle.css" type="text/css">
</head>
<body>

    <div th:replace="~{fragments/mainContainer :: main(~{::div#jobDashboard})}">
        <div id="jobDashboard" class="row">

        </div>
    </div>

</body>
</html>