<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title}, ~{::link#pageStyle})}">
    <title>ScoutPro | Dashboard</title>
    <link id="pageStyle" rel="stylesheet" th:href="@{/css/dashboardStyle.css}" href="../static/css/dashboardStyle.css" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/9b0a4a2ea0.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
</head>
<body>

    <nav th:remove="all" class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(61, 201, 179, 1); height: 78px;">
        <a class="navbar-brand" href="/">
            <img src="../../static/logo.png" width="50px" height="50px" class="d-inline-block">
            <span class="align-middle ml-1" style="font-size: 35px">ScoutPro</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle">
            <!-- <i class="fa fa-bars"></i> -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./playerForm.html">Add Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./compare.html">Compare players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./transfersAndNews.html">Transfers and News</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mr-auto ">
                <li class="nav-item mr-2" style="width: 25em">
                    <input id="search" class="form-control" type="search" placeholder="Search players" autocomplete="off" name="s">
                </li>
            </ul>
            <form class="form-inline my-2">
                <button class="btn btn-outline-light my-sm-0" type="button" name="logout" >Logout</button>
            </form>
        </div>
    </nav>

    <div th:replace="~{fragments/mainContainer :: main(~{::div#dashboard})}">
        <div id="dashboard" class="row">
            <div class="col-lg-6 my-2" style="margin-bottom: 0!important;">
                <div class="text-center">
                    <span id="allPlayersButton" class="badge">All Players
                    </span>
                    <span id="myPlayersButton" class="badge">My Players
                    </span>
                    <span id="freePlayersButton" class="badge">Free Players
                    </span>
                </div>
                <div class="text-center">
                    <span id="position-gk" class="badge">GK</span>
                    <span id="position-cb" class="badge">CB</span>
                    <span id="position-lb" class="badge">LB</span>
                    <span id="position-rb" class="badge">RB</span>
                    <span id="position-dmf" class="badge">DMF</span>
                    <span id="position-cmf" class="badge">CMF</span>
                    <span id="position-lmf" class="badge">LMF</span>
                    <span id="position-rmf" class="badge">RMF</span>
                    <span id="position-amf" class="badge">AMF</span>
                    <span id="position-lwf" class="badge">LWF</span>
                    <span id="position-rwf" class="badge">RWF</span>
                    <span id="position-ss" class="badge">SS</span>
                    <span id="position-cf" class="badge">CF</span>
                </div>
                <div id="left" style="overflow: scroll;overflow-x: hidden; padding-left: 0; padding-right: 0;">
                    <table class="table table-hover table-scroll" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th class="" style="width: 25%">
                                Name
                                <span class="badge badge-primary">
                                        <i class="fas fa-sort-up"></i>
                                    </span><span class="badge badge-primary">
                                        <i class="fas fa-sort-down"></i>
                                    </span>
                            </th>
                            <th class="" style="width: 10%">
                                Age
                                <span id="age-badge-asc" class="badge badge-primary">
                                    <i class="fas fa-sort-up"></i>
                                </span><span id="age-badge-desc" class="badge badge-primary">
                                        <i class="fas fa-sort-down"></i>
                                </span>
                            </th>
                            <th style="width: 13%">
                                Position
                                <span id="position-badge-asc" class="badge badge-primary">
                                        <i class="fas fa-sort-up"></i>
                                    </span><span id="position-badge-desc" class="badge badge-primary">
                                        <i class="fas fa-sort-down"></i>
                                    </span>
                            </th>
                            <th class="" style="width: 12%">
                                Overall
                                <span id="overall-badge-asc" class="badge badge-primary">
                                        <i class="fas fa-sort-up"></i>
                                    </span><span id="overall-badge-desc" class="badge badge-primary">
                                        <i class="fas fa-sort-down"></i>
                                    </span>
                            </th>
                            <th class="" style="width: 20%">
                                Psml Value
                                <span id="psmlValue-badge-asc" class="badge badge-primary">
                                        <i class="fas fa-sort-up"></i>
                                    </span><span id="psmlValue-badge-desc" class="badge badge-primary">
                                        <i class="fas fa-sort-down"></i>
                                    </span>
                            </th>
                            <th class="" style="width: 20%">
                                TM Value
                                <span id="tmCurrentValue-badge-asc" class="badge badge-primary">
                                        <i class="fas fa-sort-up"></i>
                                    </span><span id="tmCurrentValue-badge-desc" class="badge badge-primary">
                                        <i class="fas fa-sort-down"></i>
                                    </span>
                            </th>
                            <th class="" style="width: 5%">
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tab-body"></tbody>
                    </table>
                </div>
                <div id="pages" class="text-center"></div>
            </div>
            <div id="right-side" class="col-lg-6 my-2">
                <div id="right" style="overflow: scroll;overflow-x: hidden;">
                    <div class="row" style="width: 99%;">
                        <div id="tm" class="col-lg-6" style="border-right-style: solid; border-width: 2px;">
                            <h6>Transfermarkt Info <span id="tmValueLastCheck" style="font-size: 12px;"></span> <span class="badge badge-primary measure" data-url="#">Measure Now!</span></h6>
                            <hr style="width: 83%;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td>National team</td>
                                            <td id="nationalTeam"></td>
                                        </tr>
                                        <tr>
                                            <td>Club team</td>
                                            <td id="clubTeam"></td>
                                        </tr>
                                        <tr>
                                            <td>Contract until</td>
                                            <td id="contractUntil"></td>
                                        </tr>
                                        <tr>
                                            <td>Current value</td>
                                            <td id="tmCurrentValue"></td>
                                        </tr>
                                        <tr>
                                            <td>Value last changed</td>
                                            <td id="tmValueLastChanged"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="psml" class="col-lg-6" style="margin-bottom: 10px;">
                            <h6>Psml Info <span id="psmlLastCheck" style="font-size: 12px;"></span> <span class="badge badge-primary measure" data-url="#">Measure Now!</span></h6>
                            <hr style="width: 83%;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td>Club team</td>
                                            <td id="psmlTeam"></td>
                                        </tr>
                                        <tr>
                                            <td>Psml value</td>
                                            <td id="psmlValue"></td>
                                        </tr>
                                        <tr>
                                            <td>Last transfer from</td>
                                            <td id="psmlLastTransferFromTeam"></td>
                                        </tr>
                                        <tr>
                                            <td>Last transfer to</td>
                                            <td id="psmlLastTransferToTeam"></td>
                                        </tr>
                                        <tr>
                                            <td>Last transfer fee</td>
                                            <td id="psmlLastTransferFee"></td>
                                        </tr>
                                        <tr>
                                            <td>Last transfer date</td>
                                            <td id="psmlLastTransferDate"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border-style: solid none; border-width: 2px;">
                        <div id="pesDb" class="col-lg-12" style="margin-top: 10px; margin-bottom: 10px;">
                            <h6>PesDB Info <span id="pesDbLastCheck" style="font-size: 12px;"></span> <span class="badge badge-primary measure" data-url="#">Measure Now!</span></h6>
                            <hr style="width: 38%;">
                            <div class="row" style="">
                                <div class="col-sm-4 col-lg-4" style="padding: 0">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td id="pesDbPlayerName"></td>
                                        </tr>
                                        <tr>
                                            <td>Team:</td>
                                            <td id="pesDbTeamName"></td>
                                        </tr>
                                        <tr>
                                            <td>Foot:</td>
                                            <td id="foot"></td>
                                        </tr>
                                        <tr>
                                            <td>Condition:</td>
                                            <td id="weekCondition"></td>
                                        </tr>
                                        <tr>
                                            <td>Primary position:</td>
                                            <td id="primaryPosition"></td>
                                        </tr>
                                        <tr>
                                            <td>Other position:</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Strong</td>
                                            <td id="otherStrongPositions"></td>
                                        </tr>
                                        <tr>
                                            <td>Weak</td>
                                            <td id="otherWeakPositions"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Offensive Awareness:</td>
                                            <td id="offensiveAwareness"></td>
                                        </tr>
                                        <tr>
                                            <td>Ball Control:</td>
                                            <td id="ballControl"></td>
                                        </tr>
                                        <tr>
                                            <td>Dribbling:</td>
                                            <td id="dribbling"></td>
                                        </tr>
                                        <tr>
                                            <td>Tight Possession:</td>
                                            <td id="tightPossession"></td>
                                        </tr>
                                        <tr>
                                            <td>Low Pass:</td>
                                            <td id="lowPass"></td>
                                        </tr>
                                        <tr>
                                            <td>Lofted Pass:</td>
                                            <td id="loftedPass"></td>
                                        </tr>
                                        <tr>
                                            <td>Finishing:</td>
                                            <td id="finishing"></td>
                                        </tr>
                                        <tr>
                                            <td>Heading:</td>
                                            <td id="heading"></td>
                                        </tr>
                                        <tr>
                                            <td>Place Kicking:</td>
                                            <td id="placeKicking"></td>
                                        </tr>
                                        <tr>
                                            <td>Curl:</td>
                                            <td id="curl"></td>
                                        </tr>
                                        <tr>
                                            <td>Speed:</td>
                                            <td id="speed"></td>
                                        </tr>
                                        <tr>
                                            <td>Acceleration:</td>
                                            <td id="acceleration"></td>
                                        </tr>
                                        <tr>
                                            <td>Kicking Power:</td>
                                            <td id="kickingPower"></td>
                                        </tr>
                                        <tr>
                                            <td>Jump:</td>
                                            <td id="jump"></td>
                                        </tr>
                                        <tr>
                                            <td>Physical Contact:</td>
                                            <td id="physicalContact"></td>
                                        </tr>
                                        <tr>
                                            <td>Balance:</td>
                                            <td id="balance"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Stamina:</td>
                                            <td id="stamina"></td>
                                        </tr>
                                        <tr>
                                            <td>Defensive Awareness:</td>
                                            <td id="defensiveAwareness"></td>
                                        </tr>
                                        <tr>
                                            <td>Ball Winning:</td>
                                            <td id="ballWinning"></td>
                                        </tr>
                                        <tr>
                                            <td>Aggression:</td>
                                            <td id="aggression"></td>
                                        </tr>
                                        <tr>
                                            <td>GK Awareness:</td>
                                            <td id="gkAwareness"></td>
                                        </tr>
                                        <tr>
                                            <td>GK Catching:</td>
                                            <td id="gkCatching"></td>
                                        </tr>
                                        <tr>
                                            <td>GK Clearing:</td>
                                            <td id="gkClearing"></td>
                                        </tr>
                                        <tr>
                                            <td>GK Reflexes:</td>
                                            <td id="gkReflexes"></td>
                                        </tr>
                                        <tr>
                                            <td>GK Reach:</td>
                                            <td id="gkReach"></td>
                                        </tr>
                                        <tr>
                                            <td>Weak Foot Usage:</td>
                                            <td id="weakFootUsage"></td>
                                        </tr>
                                        <tr>
                                            <td>Weak Foot Accuracy:</td>
                                            <td id="weakFootAccuracy"></td>
                                        </tr>
                                        <tr>
                                            <td>Form:</td>
                                            <td id="form"></td>
                                        </tr>
                                        <tr>
                                            <td>Injury Resistance:</td>
                                            <td id="injuryResistance"></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Overall Rating:</td>
                                            <td id="overallRating"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ws" class="col-lg-12" style="margin-top: 10px; margin-bottom: 10px;">
                            <h6>Whoscored Info <span id="statisticsLastCheck" style="font-size: 12px;"></span> <span class="badge badge-primary measure" data-url="#">Measure Now!</span></h6>
                            <hr style="width: 43%;">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Total Started Apps</th>
                                            <th>Total Mins</th>
                                            <th>Total Goals</th>
                                            <th>Total Assists</th>
                                            <th>Average Shots Per Game</th>
                                            <th>Average Pass Success</th>
                                            <th>Average Aerials Won</th>
                                            <th>Total Man Of The Match</th>
                                            <th>Average Rating</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td id="totalStartedApps"></td>
                                                <td id="totalMins"></td>
                                                <td id="totalGoals"></td>
                                                <td id="totalAssists"></td>
                                                <td id="averageShotsPerGame"></td>
                                                <td id="averagePassSuccess"></td>
                                                <td id="averageAerialsWon"></td>
                                                <td id="totalManOfTheMatch"></td>
                                                <td id="averageRating"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script th:src="@{/js/dashboard.js}" src="../static/js/dashboard.js" type="text/javascript"></script>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>