<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title}, ~{::link#pageStyle})}">
    <title>ScoutPro | Show Player</title>
    <link id="pageStyle" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/9b0a4a2ea0.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
</head>
<body>

    <div th:replace="~{fragments/mainContainer :: main(~{::div#showPlayer})}">
        <div id="showPlayer" class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>