<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="main(content)">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(61, 201, 179, 1); height: 78px; font-size: 16px;">

        <a class="navbar-brand" href="/">
            <img th:src="@{/logo.png}" src="../../static/logo.png" width="50px" height="50px" class="d-inline-block">
            <span class="align-middle ml-1" style="font-size: 35px">ScoutPro</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle">
            <!-- <i class="fa fa-bars"></i> -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/player/new}" href="#">Add Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/compare}" href="#">Compare players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/transfersandnews}" href="#">Transfers and News</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mr-auto ">
                <li class="nav-item mr-2" style="width: 25em">
                    <input id="search" class="form-control" type="search" placeholder="Search players" autocomplete="off" name="s">
                <table id="searchResult" style="">
                    <tbody></tbody>
                </table>
                </li>
            </ul>
            <form class="form-inline my-2">
                <button class="btn btn-outline-light my-sm-0" type="button" name="logout" >Logout</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="alert alert-success mt-2 my-2 py-2" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:replace="${content}"></div>

    </div>
</div>


</body>
</html>