#searchResult {
    background-color: rgba(61, 201, 179, 1);
    position: absolute;
    z-index: 2;
    width: 25em;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
}
#searchResult tbody{
    font-size: 17px;
}
#searchResult tr {
    border-bottom: 0.5px solid rgba(255,255,255, 0.5);
}
#searchResult tr:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}