::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}
h4{
    color: white;
    padding: 10px 10px;
    text-decoration: underline;
}
.container-fluid {
    max-height: 100%;
}
#playerForm form {
    margin-top: 20px;
    height: 350px;
    color: rgb(255, 255, 255);
}
label.col-form-label, #playerName{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#playerName{
    font-size: 1.1em;
    font-style: italic;
    text-decoration-line: underline;
}
.checkboxOne input[type=checkbox] {
    visibility: hidden;
}
.checkboxOne {
    width: 110px;
    height: 30px;
    background: rgb(255, 255, 255);
    margin: 5px 5px;
    border-radius: 50px;
    position: relative;
}
.checkboxOne:before{
    content: 'Yes';
    position: absolute;
    top: 3px;
    left: 13px;
    height: 2px;
    color: #26ca28;
    font-size: 16px;
}
.checkboxOne:after {
    content: 'No';
    position: absolute;
    top: 3px;
    left: 74px;
    height: 2px;
    color: rgb(230, 0, 0);
    font-size: 16px;
}
.checkboxOne label {
    display: block;
    width: 45px;
    height: 20px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 7px;
    background: rgb(230, 0, 0);
}
.checkboxOne input[type=checkbox]:checked + label {
    left: 55px;
    background: #26ca28;
}
#addPlayer{
    background-color: rgba(61, 201, 179, 1);
    margin-top: 30px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}
#addPlayer, #playerForm {
    padding: 20px 20px;
}
#addPlayerSearchResult{
    margin-bottom: 0;
    overflow: scroll;
}
#addPlayerSearchResult tbody{
    overflow: scroll;
    position: absolute;
    width: 95%;
}
#addPlayer table tr td, #addPlayer table tr th{
    color: white;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
    border-top: none;
}
.table-scroll tr{
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}
#addPlayer>div.form-group{
    padding: 0px 25%;
}
button.btn-sm {
    font-size: .7rem;
}
#addPlayerSearchResult tr input[type=checkbox]{
    vertical-align: middle;
}