#playerCoreData {
    font-size: 40px;
}
#playerCoreData td{
    padding-left: 30px;
}
h6 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 8px;
}
hr {
    margin-top: 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid green;
}
#pesDb tr td:nth-of-type(1){
    width: 70%;
}
#pesDb table tr td{
    padding: 0;
}
#overallRating {
    font-weight: bold;
}
.table td, .table th {
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    text-align: center;
}
span.badge {
    cursor: pointer;
}