body{
    font-size: 13px;
}
h6 {
    text-align: center;
    margin-bottom: 0;
}
hr {
    margin-top: 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid green;
}
#playerCoreData {
    font-size: 40px;
}
#playerCoreData td{
    padding-left: 30px;
}
table.table{
    margin-bottom: 0;
}
#pesDb tr td:nth-of-type(1){
    width: 70%;
}
#pesDb table tr td, #first-col tr td, #first-col tr th, #transfers tr th, #transfers tr td, #competitionStats th, #competitionStats td, #gameStats td{
    padding: 0;
}
#overallRating {
    font-weight: bold;
}
.table td, .table th {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
span.badge {
    cursor: pointer;
}
.wrapper{
    padding: 10px 15px;
    border-bottom: solid green 2px;
    border-right: solid green 2px;
}
#corePlayerData tr td:nth-of-type(1), #psmlData td:nth-of-type(1){
    font-weight: 500;
    text-align: left;
}
#gameStats tr td:nth-of-type(3){
    text-align: left;
}
#corePlayerData tr td:nth-of-type(2), #psmlData td:nth-of-type(2), #gameStats tr td:nth-of-type(5){
    text-align: right;
}
h6.separator{
    background-color: lightgray;
    margin-bottom: 10px;
}
#first-col #psmlTransfers tr td, #first-col #psmlTransfers tr th, #first-col #characteristics tr td, #characteristics div.row div div:nth-of-type(1), #pesDb div.row:nth-of-type(2){
    text-align: center;
}
#psmlTransfers tbody tr td:nth-of-type(1), #characteristics tbody tr td:nth-of-type(1){
    font-weight: normal;
}
#psmlTransfers thead tr th, #positionStats thead th, #transfers th, #competitionStats th{
    font-weight: 500;
}
#characteristics, #playingStyle div:not(:first-child), #playerSkills div:not(:first-child), #comPlayingStyles div:not(:first-child), #competitionStats, #gameStats{
    font-size: 12px;
}
#gameStats td[data-attribute=yellow]{
    color: yellow;
}
#gameStats td[data-attribute=red]{
    color: red;
}
#gameStats td[data-attribute=motm]{
    color: gold;
}
#gameStats tr td:last-child{
    font-weight: bold;
    color: rgb(168, 119, 50);
}
#playerCoreData button{
    width: 40%;
}
#competitionStats tr:last-child{
    font-weight: bold;
}
#overlay {
    opacity: 80%;
    cursor: not-allowed;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: repeating-linear-gradient(-45deg, transparent, transparent 20px, gray 20px, gray 40px);
}
#playerCoreData label, #playerCoreData input[type=checkbox] {
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 0px;
}